---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
const RandomNumber = 1;
//STRAPI modules
import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article'; 
const articles = await fetchApi<Article[]>({
   endpoint: 'articles', // el tipo de contenido a obtener
   wrappedByKey: 'data', // la clave para descomponer la respuesta
});


const sortedByDate = articles.sort((a,b)=> Date.parse(b.attributes.publishedAt) - Date.parse(a.attributes.publishedAt));

const allCategories = [...new Set(articles.map((post) => post.attributes.tags.split(",")).flat())];
const categoriesList = allCategories.map((category) => category.trim().toLowerCase())
---
<MainLayout title = "Mis blogs">
  <h2>Mas nuevos</h2>
  <!-- Filter mas recientes por fecha -->
  {sortedByDate.map((article) => <BlogCard
    title = {article.attributes.title}
    category = {article.attributes.tags.split(",")}
    image = {article.attributes.coverurl}
    date = {article.attributes.publishedAt}
    views = {RandomNumber}
    url_post = {"blog/"+article.attributes.slug}
    from = {"tags/"}
></BlogCard>)}




</MainLayout>


