---
import BlogCard from '../../components/BlogCard.astro';
import MainLayout from '../../layouts/MainLayout.astro';

function equalsIgnoringCase(text, other) {
    return text.localeCompare(other, undefined, { sensitivity: 'base' }) === 0;
}

//STRAPI modules
import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article'; 
export const prerender = true;
export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
   endpoint: 'articles', // el tipo de contenido a obtener
   wrappedByKey: 'data', // la clave para descomponer la respuesta
});
  let categoriesList = articles.map((category) => category.attributes.tags.split(",")).flat()
  categoriesList = categoriesList.map(category => category.toLocaleLowerCase().trim());
  const allCategories = [...new Set(categoriesList)];

  return allCategories.map((el) => ({ params:{ tag: el }, props:{posts: articles} }));
}

const { tag } = Astro.params;
const { posts } = Astro.props;

//Get post tags
let categoriesLista = posts.map((category) => category.attributes.tags.split(",")).flat()
categoriesLista = categoriesLista.map(category => category.toLocaleLowerCase().trim());

const filteredPosts = posts.filter((post) => {  
    let postTags = post.attributes.tags.split(",")
    postTags = postTags.map(items => items.toLowerCase().trim());

    const isThereTags = postTags.filter(tagsFiltered => tag === tagsFiltered)

    return isThereTags.length>0;
  });


---

<MainLayout title={tag}>
  <main>
    {filteredPosts.map((post) => 
      <BlogCard
          title = {post.attributes.title}
          category = {post.attributes.tags.split(",")}
          image = {post.attributes.coverurl}
          date = {new Date(post.attributes.publishedAt).toDateString()}
          views = {"1"}
          url_post = {"/blog/"+post.attributes.slug}
          pathname = {Astro.url.pathname}
      ></BlogCard>)} 
  </main>
</MainLayout> 

<style>
  main{
    display: grid;
    width: 60%;
    margin: 1rem auto;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem),1fr));
    grid-auto-flow: dense;
  }
</style>