---
import MainLayout from "../../layouts/MainLayout.astro";
import TagsBox from "../../components/tagsBox/TagsBox.astro";
import fetchApi from '../../lib/strapi';
import type Article from '../../interfaces/article'; 
import TagsBoxContainer from "../../components/tagsBox/TagsBoxContainer.astro";
const articles = await fetchApi<Article[]>({
   endpoint: 'articles', // el tipo de contenido a obtener
   wrappedByKey: 'data', // la clave para descomponer la respuesta
});

let categoriesList = articles.map((category) => category.attributes.tags.split(",")).flat()
categoriesList = categoriesList.map(category => category.toLocaleLowerCase().trim());
const allCategories = [...new Set(categoriesList)];
---

<MainLayout title = "Indice de categorias">
  <main>
    <TagsBoxContainer>
      {
        allCategories.map((tagN)=> <TagsBox tagName = {tagN}></TagsBox>)
      }
    </TagsBoxContainer>
  </main>
</MainLayout>