---
import Link from "../components/Link.astro"
import NotFoundLayout from "../layouts/NotFoundLayout.astro"
---

<NotFoundLayout>
  <main>
    <p id="notFoundH1"><span>Ooopss! </span> Algo a salido mal...  <span class="errorMSG">Error 404</span></p>
  
    <img id="notFoundIMG" src="/images/404.png" alt="404 error">
    <Link text = "Regresar al inicio" href="/" classes = "boton notFoundLINK"/>
  </main>
</NotFoundLayout>

<style>
  main{
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }
  img{
    max-width: 400px;
  }

  p#notFoundH1{
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    span{
      color: var(--accent-color);
      font-size: var(--font-xxxlarge);
      font-weight: 700;
    }
    .errorMSG{
    color: var(--secondary-color);
    font-size: var(--font-large);
    font-weight: 200;
    margin-top: 0.5rem;
  }
    font-size: var(--font-xxlarge);
    font-weight: 400;
  }
  @media (min-width: 1024px) {

    main{
      padding-top: 3rem;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 5fr 1fr;
      grid-template-areas: "imagen titulos"
                  "link link";
    }
    #notFoundH1{
      grid-area: titulos;
    }
    #notFoundIMG{
      grid-area: imagen;

    }
    .notFoundLINK{
      grid-area: link;
    }
  }

</style>

