---
---
<section>
  <h1>Eventos</h1>
  <a href="#">
    <img src="https://venngage-wordpress.s3.amazonaws.com/uploads/2018/10/Colorful-Vintage-90s-Event-Poster-Template.jpg" alt="poster">
  </a>
  <div class="arrowContainer">
    <button id = "antEvento"type="button">⬅️</button>
    <button id= "sigEvento"type="button">➡️</button>
  </div>
  </section>
<style>
  #sigEvento, #antEvento{
    font-size: larger;
    border: 1px solid black;
    background-color: #adff2f;
    padding: 0.125rem 1rem;
    border-radius: 0.25rem;
    &:hover{
      background-color: #7ea73f;
    }
  }
  .arrowContainer{
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
  }
  section{
    margin: 1rem 0;
    border: 1px solid black;
    &>h1{
      margin: 0.5rem 1rem;
      font-size: large;
      font-weight: 800;

    }
  }
  
</style>