---
// import type { ImageMetadata } from 'astro';

// const images_social = import.meta.glob<{ default: ImageMetadata }>('/src/social_icons/*.{jpeg,jpg,png,gif,svg}');
// let image_url = []
// for( const url in images_social){
//   image_url.push(url)
// }
---
<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <h2 class="text-center text-lg font-semibold leading-8 text-gray-900">Visita mis redes</h2>
    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        <a href="#" class="group mx-auto rounded-full col-span-2 max-h-12 w-1/3 object-contain lg:col-span-1 hover:bg-gradient-to-r from-soundcloud-1 to-soundcloud-2">
          <img class="group-hover:invert mx-auto" src={"/src/social_icons/brand-soundcloud.svg"} alt="soundcloud" width="48" height="48">
        </a>
        <a class="group mx-auto rounded-full col-span-2 max-h-12 w-1/3 object-contain lg:col-span-1 hover:bg-youtube" href="#">
        <img  class="group-hover:invert mx-auto" src={"/src/social_icons/brand-youtube.svg"} alt="youtube" width="48" height="48">
        </a>
        <a href="#" class="group mx-auto rounded-full col-span-2 max-h-12 w-1/3 object-contain lg:col-span-1 hover:bg-gradient-to-r from-facebook-1 to-facebook-2">
        <img class="group-hover:invert mx-auto" src={"/src/social_icons/brand-facebook.svg"} alt="facebook" width="48" height="48">
        </a>
        <a class="group mx-auto rounded-full col-span-2 max-h-12 w-1/3 object-contain sm:col-start-2 lg:col-span-1 hover:bg-gradient-to-r from-instagram-1 to-instagram-2" href="#">
          <img class="group-hover:invert mx-auto" src={"/src/social_icons/brand-instagram.svg"} alt="instagram" width="48" height="48">
        </a>
        <a class="group mx-auto rounded-full col-span-2 col-start-2 max-h-12 w-1/3 object-contain sm:col-start-auto lg:col-span-1 hover:bg-gradient-to-r from-reddit-1 to-reddit-2" href="#">
          <img class="group-hover:invert mx-auto" src={"/src/social_icons/brand-reddit.svg"} alt="reddit" width="48" height="48">
        </a>
      
    </div>
  </div>
</div>