---
---
<div class=" logoClouds">
        <a href="#" class="">
          <img class="" src={"/src/social_icons/brand-soundcloud.svg"} alt="soundcloud" width="48" height="48">
        </a>
        <a class="" href="#">
        <img  class="" src={"/src/social_icons/brand-youtube.svg"} alt="youtube" width="48" height="48">
        </a>
        <a href="#" class="">
        <img class="" src={"/src/social_icons/brand-facebook.svg"} alt="facebook" width="48" height="48">
        </a>
        <a class="" href="#">
          <img class="" src={"/src/social_icons/brand-instagram.svg"} alt="instagram" width="48" height="48">
        </a>
        <a class="" href="#">
          <img class="" src={"/src/social_icons/brand-reddit.svg"} alt="reddit" width="48" height="48">
        </a>
</div>

<style>
  .logoClouds{
    margin: 0 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    height: 50%;
    a{
      & > img{
        filter: invert(0.94);
        min-width: 48px;
      }
    }
  }
</style>