---
---

<h2>Categorias</h2>
<div class="tagsBoxContainer">
  <slot></slot>
</div>

<style>
  .tagsBoxContainer{
    display: flex;
    flex-wrap: wrap;
  }
  h2{
    padding-bottom: 1rem;
  }
</style>